<!-- HEADER -->
<header class="header" style="background-image: url({{ site.site.images.cover }})">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf.name }}">{{ site.conf.name }}</a></h1>
    <h2 class="tagline">{{ site.conf.date }}, {{ site.conf.venue }}, {{ site.conf.city }}</h2>
    <div class="call-action-area">
      <span class="price">Apenas {{ site.conf.price }}</span>
      <a href="http://eventick.com.br" class="call-action-link" title="Quero participar!">Quero participar!</a>
    </div>
  </div>
</header>
<!--  / HEADER -->

<hr />
