<!-- NAVIGATION -->
<nav id="nav">
  <ul class="wrapper">
    {% if site.sections.about %}
      <li class="nav-item">
        <a href="#about" class="nav-link">O Evento</a>
      </li>
    {% endif %}
    {% if site.sections.location %}
      <li class="nav-item">
        <a href="#location" class="nav-link">Local</a>
      </li>
    {% endif %}
    {% if site.sections.speakers %}
      <li class="nav-item">
        <a href="#speakers" class="nav-link">Atrações</a>
      </li>
    {% endif %}
    {% if site.sections.schedule %}
      <li class="nav-item">
        <a href="#schedule" class="nav-link">Programação</a>
      </li>
    {% endif %}
    {% if site.sections.sponsors %}
      <li class="nav-item">
        <a href="#sponsors" class="nav-link">Patrocinadores</a>
      </li>
    {% endif %}
    {% if site.sections.partners %}
      <li class="nav-item">
        <a href="#partners" class="nav-link">Apoiadores</a>
      </li>
    {% endif %}
    {% if site.sections.contact %}
      <li class="nav-item">
        <a href="#contact" class="nav-link">Contato</a>
      </li>
    {% endif %}
  </ul>
</nav>

<hr />
