{% if site.sections.about %}

  <!-- ABOUT -->
  <section class="about" id="about">
    <h2 class="section-title">O Evento</h2>
    <p>É geek? Curte games, quadrinhos, RPG, anime e a cultura da internet? Temos um evento pra você:
      nos dias <em>06 e 07 de julho de 2013</em>, na faculdade <a href="#location" title="Veja onde fica">UNIRIO</a>, na Urca, Rio de Janeiro, acontecerá a <strong>GeekConf</strong>.</p>

    <p>Um evento não só de entretenimento com jogos de videogame, tabuleiro e de cartas, estandes e apresentações; teremos também mesas redondas, workshops e palestras (<a href="#speakers" title="Veja nossa lista completa de atrações">lista de atrações</a>).</p>

    <p>Em breve mais informações.<br /><a href="http://facebook.com/GeekConf" title="Curta nossa página no Facebook!">Curta nossa página no Facebook</a> para receber as novidades da nossa programação.</p>
  </section>
  <!-- / ABOUT -->

{% endif %}
