{% if site.sections.contact %}

  <!-- CONTACT -->
  <section class="contact" id="contact">
    <h2 class="section-title">Contato</h2>
    <p>Qualquer dúvida pode ser tirada pelo email <a href="mailto:contato@geekconf.com.br" title="contato@geekconf.com.br">contato@geekconf.com.br</a>, pela nossa <a href="http://facebook.com/GeekConf" title="Acesse e curta!">página no Facebook</a> ou através do formulário abaixo.</p>
    <form method="post" action="contato.php" id="form-contato" class="form-contato">
      <div class="control-group control-group-name">
        <label for="name">Qual o seu nome?</label>
        <input type="text" name="name" id="name" placeholder="nome" />
      </div>
      <div class="control-group control-group-email">
        <label for="email">Qual o seu email para contato?</label>
      <input type="email" name="email" id="email" placeholder="email para contato" />
      </div>
      <div class="control-group">
        <label for="mensagem">Escreva sua mensagem</label>
      <textarea name="" id="mensagem" cols="30" rows="10" placeholder=""></textarea>
      </div>
      <input class="btn btn-send" type="submit" value="Enviar" />
    </form>
  </section>
  <!-- / CONTACT -->

{% endif %}
