{% if site.sections.speakers %}

  <!-- SPEAKERS -->
  <section class="speakers" id="speakers">

    <h2 class="section-title">Atrações</h2>

    <ul class="speakers-list">
    {% for attraction in site.attractions %}
      <li class="speakers-item">
        <span class="speaker-photo"><img class="photo" src="{{ attraction.photo }}" alt="{{ attraction.name }}" /></span>

        <h3 class="speech-title">
          {{ attraction.name }}
          {% if attraction.link_url %}
            - <a href="{{ attraction.link_url }}" title="{{ attraction.link_label }} do {{ attraction.name }}">{{ attraction.link_label }}</a>
          {% endif %}
        </h3>

        <p class="speakers-bio">{{ attraction.bio }}</p>
      </li>
    {% endfor %}
    </ul>

  </section>
  <!-- / SPEAKERS -->

{% endif %}
